<% content_for :page_title, 'Register your interest in Pension Wise guidance appointments - GOV.UK' %>

<div class="text">
  <h1 class="heading-xlarge">Register your interest in Pension Wise guidance appointments</h1>

  <p>You’ll soon be able to book a free appointment with a trained guidance specialist. Appointments are over the phone
    or face to face with guidance specialists from The Pensions Advisory Service and the Citizens Advice service.</p>

  <p>You’ll discuss:</p>

  <ul class="list-bullet">
    <li>
      the different ways you can take money from your pension pot(s)
    </li>
    <li>
      what each option means for you and your circumstances
    </li>
    <li>
      what to do once you’ve made your choice
    </li>
  </ul>

  <p>This is an impartial government service - Pension Wise won’t recommend any products or tell you what to do with
    your money.</p>

  <p>Complete this form to register your interest in early access to the appointments. If you’ve already completed
    this form you don’t need to re-register.</p>
</div>

<%= form_for @user_profile, url: user_profile_path, authenticity_token: false, class: 'form' do |f| %>

  <div class="form-group">
    <%= f.label :name, 'Name', class: 'form-label-bold' %>
    <%= f.text_field :name, class: %w(t-name form-control) %>
  </div>

  <div class="form-group">
    <%= f.label :age, class: 'form-label-bold' %>
    <%= f.number_field :age, class: %w(t-age form-control form-control-1-8) %>
  </div>

  <div class="form-group">
    <%= f.label :email, class: 'form-label-bold' %>
    <%= f.email_field :email, class: %w(t-email form-control) %>
  </div>

  <div class="form-group">
    <%= f.label :region, class: 'form-label-bold' %>
    <%= f.select :region, @user_profile_regions, { prompt: '- Select region -' }, { class: %w(t-region) } %>
  </div>

  <div class="form-group">
    <fieldset>
      <legend class="form-label-bold">When do you plan to retire?</legend>

      <%= f.label :retirement_preference_6_months, class: 'block-label' do %>
        <%= f.radio_button :retirement_preference, '6_months',
                           class: 't-retirement_preference_6_months' %>
        In the next 6 months
      <% end %>

      <%= f.label :retirement_preference_6_to_12_months, class: 'block-label' do %>
        <%= f.radio_button :retirement_preference, '6_to_12_months',
                           class: 't-retirement_preference_6_to_12_months' %>
        In the next 6 to 12 months
      <% end %>

      <%= f.label :retirement_preference_1_to_5_years, class: 'block-label' do %>
        <%= f.radio_button :retirement_preference, '1_to_5_years',
                           class: 't-retirement_preference_1_to_5_years' %>
        In the next 1 to 5 years
      <% end %>

      <%= f.label :retirement_preference_more_than_5_years, class: 'block-label' do %>
        <%= f.radio_button :retirement_preference, 'more_than_5_years',
                           class: 't-retirement_preference_more_than_5_years' %>
        More than 5 years
      <% end %>

      <%= f.label :retirement_preference_retired, class: 'block-label' do %>
        <%= f.radio_button :retirement_preference, 'retired',
                           class: 't-retirement_preference_retired' %>
        I'm already retired
      <% end %>

      <%= f.label :retirement_preference_unknown, class: 'block-label' do %>
        <%= f.radio_button :retirement_preference, 'unknown',
                           class: 't-retirement_preference_unknown' %>
        I don’t know
      <% end %>
    </fieldset>
  </div>

  <div class="form-group">
    <fieldset>
      <legend class="form-label-bold">What type of pension do you have?</legend>

      <%= f.label :pension_type_defined_contribution, class: 'block-label' do %>
        <%= f.radio_button :pension_type, 'defined_contribution',
                           class: 't-pension_type_defined_contribution' %>
        A defined contribution pension - one based on how much money has been paid into your pot
      <% end %>

      <%= f.label :pension_type_defined_benefit, class: 'block-label' do %>
        <%= f.radio_button :pension_type, 'defined_benefit',
                           class: 't-pension_type_defined_benefit' %>
        A defined benefit pension - one based on your salary and length of time with your employer
      <% end %>

      <%= f.label :pension_type_both, class: 'block-label' do %>
        <%= f.radio_button :pension_type, 'both',
                           class: 't-pension_type_both' %>
        Both
      <% end %>

      <%= f.label :pension_type_unknown, class: 'block-label' do %>
        <%= f.radio_button :pension_type, 'unknown',
                           class: 't-pension_type_unknown' %>
        I don’t know
      <% end %>
    </fieldset>
  </div>

  <div class="form-group">
    <fieldset>
      <legend class="form-label-bold">What kind of appointment would you prefer?</legend>

      <%= hidden_field_tag 'user_profile[channel_preference_phone]', 0, id: nil %>
      <%= f.label :channel_preference_phone, class: 'block-label' do %>
        <%= check_box_tag 'user_profile[channel_preference_phone]', 1,
                          @user_profile.channel_preference_phone,
                          class: 't-channel_preference_phone' %>

        Over the phone
      <% end %>

      <%= hidden_field_tag 'user_profile[channel_preference_face_to_face]', 0, id: nil %>
      <%= f.label :channel_preference_face_to_face, class: 'block-label' do %>
        <%= check_box_tag 'user_profile[channel_preference_face_to_face]', 1,
                          @user_profile.channel_preference_face_to_face,
                          class: 't-channel_preference_face_to_face' %>

        Face to face
      <% end %>
    </fieldset>
  </div>

  <div class="form-group">
    <%= f.label :wishlist, 'What would you like to get from the appointment?', class: 'form-label-bold' %>
    <%= f.text_area :wishlist, class: %w(t-wishlist form-control), rows: '8' %>
  </div>

  <div class="form-group">
    <%= f.submit 'Submit', class: %w(t-submit button) %>
  </div>

<% end %>
