<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags site: 'GOV.UK', separator: '-', reverse: true %>
  <!--[if gt IE 8]><!--><%= stylesheet_link_tag 'register-your-interest', media: 'all' %><!--<![endif]-->
  <!--[if IE 6]><%= stylesheet_link_tag 'register-your-interest-ie6', media: 'all' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'register-your-interest-ie7', media: 'all' %><![endif]-->
  <!--[if IE 8]><%= stylesheet_link_tag 'register-your-interest-ie8', media: 'all' %><![endif]-->
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
  <main id="content" role="main">
    <div class="site-width-container">
      <%= yield %>
    </div>
  </main>
</div>

<%= javascript_include_tag 'register-your-interest' %>

</body>
</html>
